# Node modules
node_modules/

# TypeScript build artifacts
dist/
build/
*.tsbuildinfo

# Environment variables
.env

# Logs
logs/
*.log
npm-debug.log*

# IDE and editor-specific files
.idea/
.vscode/
*.swp
*.swo

# Operating system files
.DS_Store
Thumbs.db

# TypeORM specific files
ormconfig.json
*.js
*.js.map

# Backup files
*.bak

# Miscellaneous
coverage/
